<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<!-- 待我审批 -->
	<bean name="/app/personal/approval" 
		class="org.shengrui.oa.web.action.personal.MyApprovalAction" parent="base">
		<property name="serviceNewsManage" ref="serviceNewsManage" />
		<property name="serviceTaskPlan" ref="serviceTaskPlan" />
		<property name="serviceFinanExpense" ref="serviceFinanExpense" />
		<property name="serviceFinanContract" ref="serviceFinanContract" />
		<property name="serviceHrmJobHireInfo" ref="serviceHrmJobHireInfo" />
		<property name="serviceHrmEmployeeDevelop" ref="serviceHrmEmployeeDevelop" />
		<property name="serviceFinanProject" ref="serviceFinanProject" />
	</bean>
	
</beans>