<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!-- 员工档案 -->	
	<bean name="/app/hrm/employee" class="org.shengrui.oa.web.action.hrm.HrmEmployeeAction">
		<property name="serviceSchoolDepartment" ref="serviceSchoolDepartment" />
		<property name="serviceSchoolDepartmentPosition" ref="serviceSchoolDepartmentPosition" />
		<property name="serviceSchoolDistrict" ref="serviceSchoolDistrict" />
		<property name="serviceHrmEmployee" ref="serviceHrmEmployee" />
		<property name="serviceHrmEmployeeRoadMap" ref="serviceHrmEmployeeRoadMap" />
		<property name="serviceAppUser" ref="serviceAppUser" />
	</bean>
	
</beans>