<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!-- 合同申请管理 -->	
	<bean name="/app/finan/contract" class="org.shengrui.oa.web.action.financial.FinanContractAction">
		<property name="serviceSchoolDistrict" ref="serviceSchoolDistrict" />
		<property name="serviceSchoolDepartment" ref="serviceSchoolDepartment" />
		<property name="serviceFinanContract" ref="serviceFinanContract" />
		<property name="serviceProcessType" ref="serviceProcessType" />
		<property name="serviceHrmEmployee"	 ref="serviceHrmEmployee" />
		<property name="serviceWorkFlow" ref="serviceWorkFlow" />
		<property name="serviceProcessForm" ref="serviceProcessForm" />
	</bean>
	
</beans>