<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<bean name="/app/system/school/district" class="org.shengrui.oa.web.action.system.sysSettingSchoolAction">
		<property name="serviceSchoolDistrict" ref="serviceSchoolDistrict" />
	</bean>
	
	<bean name="/app/system/school/department" class="org.shengrui.oa.web.action.system.sysSettingSchoolAction">
		<property name="serviceSchoolDepartment" ref="serviceSchoolDepartment" />
		<property name="serviceSchoolDepartmentPosition" ref="serviceSchoolDepartmentPosition" />
	</bean>
	
	<bean name="/app/system/school/department/position" class="org.shengrui.oa.web.action.system.sysSettingSchoolAction">
		<property name="serviceSchoolDepartment" ref="serviceSchoolDepartment" />
		<property name="serviceSchoolDepartmentPosition" ref="serviceSchoolDepartmentPosition" />
		<property name="serviceAppRole" ref="serviceAppRole" />
	</bean>
	
</beans>