<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<!-- Task Plan-->
	<bean id="daoTaskPlan" class="org.shengrui.oa.dao.admin.impl.DAOTaskPlanImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="serviceTaskPlan" parent="baseTxProxy">
		<property name="target">
			<bean class="org.shengrui.oa.service.admin.impl.ServiceTaskPlanImpl">
				<constructor-arg index="0" ref="daoTaskPlan"/>
			</bean>
		</property>
	</bean>

</beans>