<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	
	<bean id="daoInMessage" class="org.shengrui.oa.dao.info.impl.DAOInMessageImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="serviceInMessage" parent="baseTxProxy">
		<property name="target">
			<bean class=" org.shengrui.oa.service.info.impl.ServiceInMessageImpl">
				<constructor-arg index="0" ref="daoInMessage"/>
			</bean>
		</property>
	</bean>
	
	<bean id="daoShortMessage" class="org.shengrui.oa.dao.info.impl.DAOShortMessageImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="serviceShortMessage" parent="baseTxProxy">
		<property name="target">
			<bean class=" org.shengrui.oa.service.info.impl.ServiceShortMessageImpl">
				<constructor-arg index="0" ref="daoShortMessage"/>
			</bean>
		</property>
	</bean>
	
</beans>