<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	
	<bean id="daoBase" class="org.shengrui.oa.dao.base.impl.DAOBaseImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="serviceBase" parent="baseTxProxy">
		<property name="target">
			<bean class="org.shengrui.oa.service.base.impl.ServiceBaseImpl">
				<constructor-arg index="0" ref="daoBase"/>
			</bean>
		</property>
	</bean>
	
</beans>