<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    					   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           				   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation">
			<value>classpath:config/ehcache.xml</value>
		</property>
	</bean>
	
	<bean id="dictCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
		<property name="cacheManager" ref="cacheManager" />
		<property name="cacheName" value="DICT_CACHE" />
	</bean>
	
	<bean id="methodCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
		<property name="cacheManager" ref="cacheManager" />
		<property name="cacheName" value="DEFAULT_CACHE" />
	</bean>
	
	
	<bean id="methodCacheInterceptor" class="cn.trymore.core.cache.MethodCacheInterceptor">
		<property name="cache" ref="methodCache" /> 
	</bean> 
	
	<bean id="methodCacheAfterAdvice" class="cn.trymore.core.cache.MethodCacheAfterAdvice"> 
		<property name="cache" ref="methodCache" /> 
	</bean> 

	<bean id="methodCachePointCut" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor"> 
		<property name="advice">
			<ref local="methodCacheInterceptor" /> 
		</property>
		<property name="patterns"> 
			<list>
				<value>.*get.*</value>
				<value>.*find.*</value>
			</list> 
		</property> 
	</bean>
	
	<bean id="methodCachePointCutAdvice" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
		<property name="advice">
			<ref local="methodCacheAfterAdvice"/>
		</property>
		<property name="patterns"> 
			<list> 
				<value>.*exec.*</value>
				<value>.*update.*</value>
				<value>.*saveOrUpdate.*</value>
				<value>.*remove.*</value>
				<value>.*merge.*</value>
				<value>.*trace.*</value>
				<value>.*save.*</value>
			</list> 
		</property> 
	</bean>
	
   <!--  
<bean id="autoproxy"  
  class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">  
  <property name="beanNames">  
   <list>  
    <value>wssService</value>  
    <value>prodcutStatus4MFGService</value>
    </list>  
   </property>  
   <property name="interceptorNames">  
    <list>  
    <value>methodCachePointCut</value>  
     <value>methodCachePointCutAdvice</value>   
    </list>  
   </property>  
 </bean>  
 -->
</beans> 

