<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
									http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
									http://www.springframework.org/schema/tx
									http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
									http://www.springframework.org/schema/aop
									http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	
	<!-- Property Configurer -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config/jdbc.properties</value>
				<value>classpath:config/hibernate.properties</value>
				<value>classpath:config/lucene.properties</value>
			</list>
		</property>
	</bean>
	
	<!-- DataSource -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${jdbc.mysql.driver}" />
		<property name="url" value="${jdbc.mysql.url}"/>
		<property name="username" value="${jdbc.mysql.user}" />
		<property name="password" value="${jdbc.mysql.password}" />
	</bean>
	
	<!-- Hibernate Properties -->
	<bean id="hibernateProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="properties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="jdbc.fetch_size">50</prop>
				<prop key="jdbc.batch_size">25</prop>		
				<prop key="hibernate.cache.use_query_cache">${hibernate.cache.use_query_cache}</prop>
				<prop key="hibernate.cache.provider_class">${hibernate.cache.provider_class}</prop>
				<prop key="hibernate.query.substitutions">true 1,false 0</prop>
			</props>
		</property>
	</bean>
	
	<!-- SessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		
		<property name="hibernateProperties">
			<ref local="hibernateProperties"/>
		</property>
		
		<property name="mappingLocations">
			<list>
				<value>classpath:mapping/hbm.*.xml</value>
			</list>
		</property>
	</bean>
	
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
		<property name="cacheQueries">
			<value>true</value>
		</property>
	</bean>
		
	<!-- Transaction Manager -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="sessionFactory"/>
		</property>
	</bean>
	
	<!-- Transaction -->
	<bean id="baseTxProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean" abstract="true">
		<property name="transactionManager" ref="transactionManager" /> 
		<property name="transactionAttributes"> 
			<props> 
				<prop key="*">PROPAGATION_REQUIRED</prop>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="load*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="find*">PROPAGATION_REQUIRED,readOnly</prop>
			</props> 
		</property> 
	</bean> 
    
	<!-- LogAspect -->
	<bean id="logAdvice" class="cn.trymore.core.log.LogAdvice">
		<property name="serviceSystemLog" ref="serviceSystemLog" />
	</bean>
	<bean id="timeHandler" class="cn.trymore.core.log.TimeHandler">
		<property name="serviceSystemLog" ref="serviceSystemLog" />
	</bean>
	
	<!--  Base Transaction Proxy -->
	<bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames"> 
			<value>/login</value> 
		</property>
		<property name="proxyTargetClass">
		 	<value>true</value>
		</property>
		<property name="interceptorNames">
			<list>
				<value>timeHandler</value>
			</list> 
		</property> 
	</bean>
	
	<!--  Data Policy Query -->
	<bean id="dataPolicyQuery" class="cn.trymore.core.acl.DataPolicyQuery">
		<property name="serviceSchoolDepartment" ref="serviceSchoolDepartment" />
	</bean>
	
	<!-- LogAspect -->
	<bean id="aclAuthAdvice" class="cn.trymore.core.acl.AclAuthorityAdvice">
		<property name="dataPolicyQuery" ref="dataPolicyQuery" />
	</bean>
	
	<!--  Base Transaction Proxy -->
	<bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames"> 
			<value>dao*, service*</value> 
		</property>
		<property name="interceptorNames">
			<list>
				<value>aclAuthAdvice</value>
				<!-- 
				<value>methodCachePointCut</value>
				<value>methodCachePointCutAdvice</value>
				 -->
			</list> 
		</property> 
	</bean>
	
	<!-- Application Utilitiy -->
	<bean id="AppUtil" class="cn.trymore.core.util.UtilApp" />
	
	<!--  Free Maker -->
	<bean id="freeMarker" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<!--指定模板文件目录-->
		<property name="templateLoaderPath" value="classpath:template" />
		<!-- 设置FreeMarker环境属性-->
		<property name="freemarkerSettings">
			<props>
				<!--刷新模板的周期，单位为秒-->
				<prop key="template_update_delay">0</prop>
				<!--模板的编码格式 -->
				<prop key="default_encoding">UTF-8</prop>
			</props>
		</property>
	</bean>
	
	<!--  Message Push Bean -->
	<bean id="messagePush" class="cn.trymore.core.web.push.MessagePush" />
	
</beans>