<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<!-- StaffAttendance-->
	<bean id="daoStaffAttendance" class="org.shengrui.oa.dao.admin.impl.DAOStaffAttendanceImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="serviceStaffAttendance" parent="baseTxProxy">
		<property name="target">
			<bean class="org.shengrui.oa.service.admin.impl.ServiceStaffAttendanceImpl">
				<constructor-arg index="0" ref="daoStaffAttendance"/>
			</bean>
		</property>
	</bean>
	
	<!-- StaffAttendanceView-->
	<bean id="daoStaffAttendanceView" class="org.shengrui.oa.dao.admin.impl.DAOStaffAttendanceViewImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="serviceStaffAttendanceView" parent="baseTxProxy">
		<property name="target">
			<bean class="org.shengrui.oa.service.admin.impl.ServiceStaffAttendanceViewImpl">
				<constructor-arg index="0" ref="daoStaffAttendanceView"/>
			</bean>
		</property>
	</bean>
</beans>