<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<bean id="daoHrmJobHireInfo" class="org.shengrui.oa.dao.hrm.impl.DAOHrmJobHireInfoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="serviceHrmJobHireInfo" parent="baseTxProxy">
		<property name="target">
			<bean class=" org.shengrui.oa.service.hrm.impl.ServiceHrmJobHireInfoImpl">
				<constructor-arg index="0" ref="daoHrmJobHireInfo"/>
			</bean>
		</property>
	</bean>
	
	<bean id="daoHrmEmployee" class="org.shengrui.oa.dao.hrm.impl.DAOHrmEmployeeImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="serviceHrmEmployee" parent="baseTxProxy">
		<property name="target">
			<bean class=" org.shengrui.oa.service.hrm.impl.ServiceHrmEmployeeImpl">
				<constructor-arg index="0" ref="daoHrmEmployee"/>
			</bean>
		</property>
	</bean>
	
	<bean id="daoHrmEmployeeDevelop" class="org.shengrui.oa.dao.hrm.impl.DAOHrmEmployeeDevelopImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="serviceHrmEmployeeDevelop" parent="baseTxProxy">
		<property name="target">
			<bean class=" org.shengrui.oa.service.hrm.impl.ServiceHrmEmployeeDevelopImpl">
				<constructor-arg index="0" ref="daoHrmEmployeeDevelop"/>
			</bean>
		</property>
	</bean>
	
	<bean id="daoHrmEmployeeRoadMap" class="org.shengrui.oa.dao.hrm.impl.DAOHrmEmployeeRoadMapImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="serviceHrmEmployeeRoadMap" parent="baseTxProxy">
		<property name="target">
			<bean class=" org.shengrui.oa.service.hrm.impl.ServiceHrmEmployeeRoadMapImpl">
				<constructor-arg index="0" ref="daoHrmEmployeeRoadMap"/>
			</bean>
		</property>
	</bean>
	
	<bean id="daoHrmResume" class="org.shengrui.oa.dao.hrm.impl.DAOHrmResumeImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="serviceHrmResume" parent="baseTxProxy">
		<property name="target">
			<bean class=" org.shengrui.oa.service.hrm.impl.ServiceHrmResumeImpl">
				<constructor-arg index="0" ref="daoHrmResume"/>
			</bean>
		</property>
	</bean>
	
	<bean id="daoHrmJobHireIssue" class="org.shengrui.oa.dao.hrm.impl.DAOHrmJobHireIssueImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="serviceHrmJobHireIssue" parent="baseTxProxy">
		<property name="target">
			<bean class=" org.shengrui.oa.service.hrm.impl.ServiceHrmJobHireIssueImpl">
				<constructor-arg index="0" ref="daoHrmJobHireIssue"/>
			</bean>
		</property>
	</bean>
	
	<bean id="daoHrmJobHireInterview" class="org.shengrui.oa.dao.hrm.impl.DAOHrmJobHireInterviewImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="serviceHrmJobHireInterview" parent="baseTxProxy">
		<property name="target">
			<bean class=" org.shengrui.oa.service.hrm.impl.ServiceHrmJobHireInterviewImpl">
				<constructor-arg index="0" ref="daoHrmJobHireInterview"/>
			</bean>
		</property>
	</bean>
	
	<bean id="daoHrmArchive" class="org.shengrui.oa.dao.hrm.impl.DAOHrmArchiveImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="serviceHrmArchive" parent="baseTxProxy">
		<property name="target">
			<bean class=" org.shengrui.oa.service.hrm.impl.ServiceHrmArchiveImpl">
				<constructor-arg index="0" ref="daoHrmArchive"/>
			</bean>
		</property>
	</bean>
	
	<bean id="daoHrmJobHireEntry" class="org.shengrui.oa.dao.hrm.impl.DAOHrmJobHireEntryImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="serviceHrmJobHireEntry" parent="baseTxProxy">
		<property name="target">
			<bean class=" org.shengrui.oa.service.hrm.impl.ServiceHrmJobHireEntryImpl">
				<constructor-arg index="0" ref="daoHrmJobHireEntry"/>
			</bean>
		</property>
	</bean>
	
</beans>