<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	
	<bean id="daoNewsManage" class="org.shengrui.oa.dao.news.impl.DAONewsManageImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="serviceNewsManage" parent="baseTxProxy">
		<property name="target">
			<bean class=" org.shengrui.oa.service.news.impl.ServiceNewsManageImpl">
				<constructor-arg index="0" ref="daoNewsManage"/>
			</bean>
		</property>
	</bean>
	
	<bean id="daoNewsAuditHistory" class="org.shengrui.oa.dao.news.impl.DAONewsAuditHistoryImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="serviceNewsAuditHistory" parent="baseTxProxy">
		<property name="target">
			<bean class=" org.shengrui.oa.service.news.impl.ServiceNewsAuditHistoryImpl">
				<constructor-arg index="0" ref="daoNewsAuditHistory"/>
			</bean>
		</property>
	</bean>
	
</beans>