<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<!-- 实例化ActionBean对象，以及传递进去的参数-->
	
	<bean name="/app/system/work/template" class="org.shengrui.oa.web.action.system.sysSettingWorkAction">
		<property name="serviceSchoolDistrict" ref="serviceSchoolDistrict" />
		<property name="serviceSchoolDepartment" ref="serviceSchoolDepartment" />
		<property name="serviceWorkTemplate" ref="serviceWorkTemplate"/>
		<property name="serviceBaseWorkTime" ref="serviceBaseWorkTime"/>
		<property name="serviceBaseWorkContent" ref="serviceBaseWorkContent"/>
		<property name="serviceHrmEmployee" ref="serviceHrmEmployee" />
	</bean>
	
	
	<!-- 工作安排基础设置-->
	<bean name="/app/system/work/base" class="org.shengrui.oa.web.action.system.sysSettingWorkAction">
		<property name="serviceSchoolDistrict" ref="serviceSchoolDistrict" />
		<property name="serviceBaseWorkContent" ref="serviceBaseWorkContent"/>
	</bean>
	
	<bean name="/app/system/work/base/time" class="org.shengrui.oa.web.action.system.sysSettingWorkTimeAction">
		<property name="serviceSchoolDistrict" ref="serviceSchoolDistrict" />
		<property name="serviceBaseWorkTime" ref="serviceBaseWorkTime"/>
		<property name="serviceWorkTemplate" ref="serviceWorkTemplate"/>
	</bean>
</beans>